/*CSS reset*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, table, td, dl, dt, dd,div, img, input{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family: "Lato","Microsoft Yahei",sans-serif;
	font-size: 12px;
	background-color: #22c3aa;
}
img{
	border:none;
}
input, textarea, select{
	outline:none;
}
ul, ol{
	list-style:none;
}
a{
	text-decoration: none;
}
textarea{
	resize:none;
}
/*清除浮动*/
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.clearfix{
	zoom:1;
}

/*留言板样式*/
.message-board{
	width:700px;
	margin:0 auto;
}
.title{
	font-size: 4.5em;
	text-shadow:1px 2px #22c3aa,2px 4px #aee2d9;
	color:#FFF;
	text-align: center;
	margin:40px 0;
}
.form-box{
	padding-left: 40px;
}
.input-box{
	height:40px;
	width:400px;
	border-radius: 3px;
	border:3px solid #F5F5F5;
	display: inline-block;
	vertical-align: middle;
}
.input-box input{
	padding:6px 5px 7px 5px;
	font-size: 20px;
	width:390px;
	color:#333;
	font-family: "Microsoft Yahei";
	background-color: #ccc;
	box-shadow: inset 1px 1px 1px 1px #999
}
.title-span{
	display: inline-block;
	width:100px;
	text-align: right;
	font-size: 1.5em;
	color:#FFF;
	text-shadow:1px 1px #aee2d9;
}
.input-bbox{
	margin-bottom: 20px;
	position: relative;
}
.area-box{
	position: relative;
	width:600px;
	display: inline-block;
	border-radius: 3px;
	border:3px solid #F5F5F5;
	min-height: 200px;
}
.area-box textarea{
	display: block;
	border:0;
	resize:none;
	min-height: 200px;
	width:590px;
	margin:0;
	padding:6px 5px 7px 5px;
	font-size: 20px;
	color:#333;
	font-family: "Microsoft Yahei";
	background-color: #ccc;
	box-shadow: inset 1px 1px 1px 1px #999
}
.submit-button{
	position: relative;
	margin-top: 20px;
	width:200px;
	height:40px;
	font-size: 18px;
	font-family: "Microsoft Yahei";
	text-align: center;
	color:#FFF;
	font-weight: bold;
	text-shadow:1px 1px #aee2d9;
	background-color: #008a75;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0px 3px #333;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.submit-button:hover{background-color: #fc3;color:#666;}
.submit-button:active{
	top:3px;
	box-shadow: 0px 0px;
}
.error{
	position: absolute;
	height:30px;
	line-height: 30px;
	background-color: #E74C3C;
	color:#FFF;
	top:10px;
	left:520px;
	padding:0 10px;
	display: none;
}
.error::after{
	content:"";
	position: absolute;
	left:-10px;
	top:50%;
	margin-top: -5px;
	height:0;
	width:0;
	border-right:5px solid #E74C3C;
	border-left:5px solid transparent;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
}
.text-error{
	position: absolute;
	height:30px;
	line-height: 30px;
	background-color: #E74C3C;
	color:#FFF;
	top:300px;
	left:480px;
	padding:0 10px;
	display: none;
}
.text-error::after{
	content:"";
	position: absolute;
	left:10px;
	top:-10px;
	height:0;
	width:0;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	border-top:5px solid transparent;
	border-bottom:5px solid #E74C3C;
}
.content-box{
	margin-top: 40px;
}
.content-box{
	width:1000px;
	padding:40px;
	background: url(sketch.png);
	margin-bottom: 50px;
	box-shadow: 1px 4px 10px 3px rgb(102,102,102);
	position: relative;
	margin-top: 100px;
	height:600px;
}
.content-box::after{
	content:"";
	position: absolute;
	top:-15px;
	left:5px;
	display: block;
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	height:150px;
	width:100%;
	background: url(sketch.png);
	z-index:-2;
	box-shadow: 1px 4px 10px 3px rgb(102,102,102);
	-webkit-backface-visibility:hidden;
}
.content-box::before{
	content:"";
	position: absolute;
	top:-15px;
	left:-5px;
	display: block;
	transform:rotate(-5deg);
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	height:150px;
	width:100%;
	background: url(sketch.png);
	z-index:-3;
	box-shadow: 1px 4px 10px 3px rgb(102,102,102);
	-webkit-backface-visibility:hidden;
}
.content-list{
	font-size: 3em;
	text-align: center;
	color:#666;
	text-shadow:2px 2px #efefef,4px 4px #aee2d9;
	font-family: "Lota";
	padding-bottom: 30px;
	border-bottom: 8px double #22C3AA;
}
.content-style{
	border-bottom: 2px dashed #E74C3C;
	padding-bottom: 20px;
}








